.custom-input__label {
  position: fixed;

  transform: scale(0);
}

.custom-input input {
  width: 340px;
  padding: 23px 30px 22px;

  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  background-color: $color-default-white;
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba($color-navy-blue, 0.1);
  cursor: text;

  transition: box-shadow $trans-default;

  &:hover {
    box-shadow: inset 0 0 0 1px $color-navy-blue;

    &::placeholder {
      color: $color-navy-blue;

      opacity: 1;

      transition: color $trans-default;
    }
  }

  &:focus,
  &:focus-within {
    box-shadow: inset 0 0 0 1px $color-resolution-blue;

    &::placeholder {
      color: $color-resolution-blue;

      opacity: 1;

      transition: color $trans-default;
    }
  }

  &:disabled {
    pointer-events: none;

    &::placeholder {
      color: rgba($color-default-elephant, 0.1);
    }
  }

  @include vp-1199 {
    width: 100%;
    padding: 16px 15px;

    font-size: 14px;
    line-height: 14px;
  }

  &::placeholder {
    color: rgba($color-default-elephant, 0.5);
  }

  &:focus::-webkit-input-placeholder,
  &:active::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus {
    a:active {
      box-shadow: inset 0 0 0 1px $color-resolution-blue;
    }
  }
}

.custom-input.is-invalid input {
  box-shadow: inset 0 0 0 1px $color-torch-red;
}
