.feedback {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-color: $color-default-elephant;
  }

  >picture {
    position: absolute;
    z-index: -1;

    display: flex;

    @include vp-1199 {}

    inset: 0;
  }

  img {
    width: 100%;

    object-fit: fill;
  }
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 310px;
  padding-bottom: 307px;

  color: $color-default-white;

  @include vp-1199 {
    padding-top: 195px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    padding-top: 182px;
    padding-bottom: 175px;
  }


  h2 {
    margin: 0 17px 17px 0;

    text-align: center;

    @include title-h2;

    @include vp-1199 {
      margin: 0 1px 19px 0;
    }

    @include vp-767 {
      margin: 0 0 13px;
    }
  }

  p {
    margin: 0 18px 41px 0;

    text-align: center;

    @include vp-1199 {
      max-width: 50%;
      margin: 0 1px 31px 0;
    }

    @include vp-767 {
      max-width: 100%;
      margin: 0 0 26px;
      margin-top: 0;

      font-size: 12px;
      line-height: 18px;
    }

    &>*:last-child {
      margin: 0;
    }
  }
}

.feedback__form {
  @include vp-1199 {
    align-self: stretch;
    margin: 0 206px;
  }

  @include vp-767 {
    margin: 0;
  }

  form {
    display: flex;
    justify-content: center;

    gap: 0 30px;

    @include vp-1199 {
      flex-direction: column;

      gap: 7px 0;
    }

    @include vp-767 {
      gap: 9px 0;
    }
  }
}

.feedback__button {
  width: 238px;
  letter-spacing: 1px;

  @include vp-1199 {
    width: 100%;
    margin: 10px 0 0;
  }

  @include vp-767 {
    margin: 1px 0 0;
  }
}