.header {
  z-index: 3;

  min-height: 62px;
}

.header__container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 39px;

  color: $color-default-white;
  column-gap: 50px;

  transition: color $trans-default;

  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;

  @include vp-1199 {
    position: relative;

    display: flex;
    padding-top: 32px;
    padding-bottom: 30px;

    &.is-opened {
      color: $color-default-elephant;

      &::before {
        transform: scale(1);
        opacity: 0.5;
      }
    }
  }

  @include vp-767 {
    display: grid;
    padding-top: 15px;

    column-gap: 30px;

    grid-template-areas: "toggle logo"
      ". phone";
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    background-color: $color-default-black;
    transform: scale(0);
    opacity: 0.5;

    transition: opacity $trans-default;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  height: max-content;

  @include vp-1199 {
    z-index: 4;

    order: 3;

    svg {
      transform: translate(41px, -2px);
    }
  }

  @include vp-767 {
    transform: inherit;

    grid-area: logo;
    justify-self: flex-end;

    svg {
      transform: translate(0, 0);
    }
  }

  a {
    display: block;
    width: 100%;
    height: auto;
  }
}

.header__navigation {
  @include vp-1199 {
    order: 1;
  }

  justify-self: center;
}

.header__user {
  max-width: 55%;

  @include vp-1199 {
    transform: translate(0, -4px);

    z-index: 3;

    order: 3;

    color: inherit;
  }

  @include vp-767 {
    transform: translate(0, -23px);

    grid-area: phone;
    justify-self: flex-end;
  }
}