.logo {
  outline: none;

  transition: color $trans-default;

  @include vp-1199 {
    z-index: 3;

    order: 3;
    width: min-content;

    color: inherit;

    svg {
      width: 144px;
      height: 44px;
    }
  }

  @include vp-767 {
    svg {
      width: 112px;
      height: 34px;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: $color-resolution-blue;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    opacity: 0.15;

    pointer-events: none;
  }

  a {
    color: inherit;
  }
}