.navigation {
  z-index: 3;

  @include vp-1199 {
    display: none;
    position: absolute;
    top: -200vh;
    right: 0;
    left: 0;

    padding: 118px 40px 64px;

    background-color: $color-default-white;

    transition: top $trans-ease-in-out;

    &.is-opened {
      display: block;
      top: 0;
    }
  }

  @include vp-767 {
    padding: 94px 10px 45px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style-type: none;

    gap: 5px 20px;

    @include vp-1199 {
      flex-direction: column;
      flex-wrap: nowrap;
      max-width: 100%;
      max-height: 50vh;
      overflow-y: auto;

      gap: 19px;
    }

    @include vp-767 {
      gap: 12px;
    }
  }

  a {
    position: relative;

    display: inline-block;
    padding: 3px 5px;

    line-height: 16px;
    color: inherit;

    border: 1px solid transparent;
    outline: none;

    transition: border $trans-default;

    @include vp-1199 {
      font-weight: 700;
      color: $color-default-elephant;
      text-transform: uppercase;
      letter-spacing: 0.64px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.56px;
    }

    &:hover {
      border-bottom: 1px solid $color-default-white;
    }

    &:focus {
      border: 1px solid $color-default-white;

      &:active {
        border-color: transparent;
      }
    }

    &:active {
      border-color: transparent;
    }

    &:disabled {
      opacity: 0.5;

      pointer-events: none;
    }
  }

  &.is-opened a {
    @include vp-1199 {
      &:hover {
        color: $color-default-elephant;

        border-bottom: 1px solid $color-default-elephant;
      }

      &:focus,
      &:focus-within {
        border: 1px solid $color-default-elephant;

        &:active {
          border-color: transparent;
        }
      }
    }
  }
}
