@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus,
  &:focus-within {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

@mixin disabled {
  &:disabled {
    @content;
  }
}

// Desktop first

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

// FONTS
@mixin title-h2 {
  position: relative;

  font-weight: 800;
  font-size: 35px;
  line-height: 35px;

  &::before {
    content: attr(data-title);
    position: absolute;
    bottom: -3px;
    left: 0;

    width: max-content;

    font-size: 55px;
    line-height: 55px;

    opacity: 0.03;
  }

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;

    &::before {
      bottom: -2px;

      font-size: 40px;
      line-height: 40px;
    }
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;

    &::before {
      top: -4px;
      bottom: auto;

      font-size: 26px;
      line-height: 26px;
    }
  }
}

// ---------------------------------

@mixin button-arrow-states {
  display: inline-block;

  text-align: center;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  outline: none;
  cursor: pointer;

  transition: color $trans-default;

  &:hover {
    color: $color-resolution-blue;

    background-color: $color-default-white;
    box-shadow: inset 0 0 0 1px $color-resolution-blue;
  }

  &:focus,
  &:focus-within {
    color: $color-resolution-blue;

    background-color: $color-default-white;
    box-shadow: inset 0 0 0 1px $color-resolution-blue;

    &:active {
      color: $color-default-white;

      background-color: $color-resolution-blue;
    }
  }

  &:active {
    color: $color-default-white;

    background-color: $color-resolution-blue;
  }

  &:disabled {
    background-color: rgba($color-navy-blue, 0.2);

    pointer-events: none;
  }
}

@mixin link-states {
  &:hover {
    color: $color-resolution-blue;
  }

  &:focus,
  &:focus-within {
    color: $color-resolution-blue;

    &:active {
      color: $color-navy-blue;
    }
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    opacity: 0.1;

    pointer-events: none;
  }
}

@mixin icon-link {
  position: relative;

  border: 1px solid rgba($color-default-elephant, 0.3);
  outline: none;

  transition: all $trans-default;

  &:hover {
    border-color: $color-default-elephant;
  }

  &:focus,
  &:focus-within {
    border-color: $color-default-elephant;

    &:active {
      color: $color-default-white;

      background-color: $color-navy-blue;
      border-color: $color-navy-blue;
    }
  }

  &:active {
    color: $color-default-white;

    background-color: $color-navy-blue;
    border-color: $color-navy-blue;
  }

  &:disabled {
    color: rgba($color-default-elephant, 0.3);

    border-color: rgba($color-default-elephant, 0.3);

    pointer-events: none;
  }

  svg {
    position: absolute;

    margin: auto;

    inset: 0;
  }
}

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
