@mixin retina {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {

  &.focus-visible:focus,
  &:focus-within {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

@mixin disabled {
  &:disabled {
    @content;
  }
}

// Desktop first

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}


// FONTS
/* TITLE H1*/
@mixin title-h1 {
  margin: 0;

  font-style: normal;
  font-weight: 800;
  font-size: 77px;
  line-height: 77px;

  @include vp-1199 {
    font-size: 56px;
    line-height: 100%;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 30px;
  }
}

/* TITLE H2*/
@mixin title-h2 {
  margin: 0;

  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 55px;

  @include vp-1199 {
    font-size: 40px;
    line-height: 40px;
  }

  @include vp-767 {
    font-size: 26px;
    line-height: 26px;
  }
}

/* TITLE H3*/
@mixin title-h3 {
  margin: 0;

  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

/* TITLE H4*/
@mixin title-h4 {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }
}

/* TITLE H5*/
@mixin title-h5 {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

/* TITLE H6*/
@mixin title-h6 {
  margin: 0;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
  }
}

/* TITLE H7*/
@mixin title-h7 {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  @include vp-1199 {
    font-size: 14px;
    line-height: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;
  }
}

/* TEXT*/
@mixin text-big {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

  @include vp-1199 {
    font-size: 16px;
  }

  @include vp-767 {
    font-size: 15px;
    line-height: 20px;
  }
}

@mixin text-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin text-small {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@mixin text-xsmall {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

/* CAPTION*/
@mixin caption-big {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}

@mixin caption-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

@mixin caption-small {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

/* BUTTONS*/
@mixin button-big {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.64px;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

@mixin button-regular {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  @include vp-1199 {
    text-align: center;
  }
}

@mixin button-navigation {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  @include vp-1199 {
    font-size: 14px;
    line-height: 14px;
  }
}

// ---------------------------------


@mixin button-arrow-states {
  display: inline-block;

  text-align: center;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  outline: none;
  cursor: pointer;

  transition: color $trans-default;

  &:hover {
    color: $color-resolution-blue;

    background-color: $color-default-white;
    box-shadow: inset 0 0 0 1px $color-resolution-blue;
  }

  &:focus,
  &:focus-within {
    color: $color-resolution-blue;

    background-color: $color-default-white;
    box-shadow: inset 0 0 0 1px $color-resolution-blue;

    &:active {
      color: $color-default-white;

      background-color: $color-resolution-blue;
    }
  }

  &:active {
    color: $color-default-white;

    background-color: $color-resolution-blue;
  }

  &:disabled {
    background-color: rgba($color-navy-blue, 0.2);

    pointer-events: none;
  }
}

@mixin link-states {
  &:hover {
    color: $color-resolution-blue;
  }

  &:focus,
  &:focus-within {
    color: $color-resolution-blue;

    &:active {
      color: $color-navy-blue;
    }
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    opacity: 0.1;

    pointer-events: none;
  }
}

@mixin menu-link {}

@mixin icon-link {
  position: relative;

  border: 1px solid rgba($color-default-elephant, 0.3);
  outline: none;

  transition: all $trans-default;

  &:hover {
    border-color: $color-default-elephant;
  }

  &:focus,
  &:focus-within {
    border-color: $color-default-elephant;

    &:active {
      color: $color-default-white;

      background-color: $color-navy-blue;
      border-color: $color-navy-blue;
    }
  }

  &:active {
    color: $color-default-white;

    background-color: $color-navy-blue;
    border-color: $color-navy-blue;
  }

  &:disabled {
    color: rgba($color-default-elephant, 0.3);

    border-color: rgba($color-default-elephant, 0.3);

    pointer-events: none;
  }

  svg {
    position: absolute;

    margin: auto;

    inset: 0;
  }
}


// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта